<app-page-header [items]="breadcrumbs()" [manualLink]="{ category: 'guild', article: 'guild-list' }" />

<div class="guild-list-container">

  @if (!loading()) {

    @if (registeredGuilds().length > 0) {
      <app-icon-card
        icon="shield"
        [title]="'guildList.registered.title' | transloco"
        [subtitle]="'guildList.registered.subtitle' | transloco"
      >
        <table class="guild-table">
          <thead>
            <tr>
              <th class="col-icon"></th>
              <th>{{ 'guildList.column' | transloco }}</th>
              <th class="col-action"></th>
            </tr>
          </thead>
          <tbody>
            @for (guild of registeredGuilds(); track guild.id) {
              <tr>
                <td class="col-icon">
                  <div class="guild-icon">
                    <app-discord-icon [id]="guild.id" [hash]="guild.iconHash" [type]="DiscordIconType.Guild" />
                  </div>
                </td>
                <td class="col-name">{{ guild.name }}</td>
                <td class="col-action action-cell">
                  <app-button variant="stroked" [route]="['/guilds', guild.id, 'dashboard']">
                    {{ 'guildList.registered.action' | transloco }}
                  </app-button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </app-icon-card>
    }

    @if (adminGuilds().length > 0) {
      <app-icon-card
        icon="add_circle"
        [title]="'guildList.admin.title' | transloco"
        [subtitle]="'guildList.admin.subtitle' | transloco"
      >
        <table class="guild-table">
          <thead>
            <tr>
              <th class="col-icon"></th>
              <th>{{ 'guildList.column' | transloco }}</th>
              <th class="col-action"></th>
            </tr>
          </thead>
          <tbody>
            @for (guild of adminGuilds(); track guild.id) {
              <tr>
                <td class="col-icon">
                  <div class="guild-icon">
                    <app-discord-icon [id]="guild.id" [hash]="guild.iconHash" [type]="DiscordIconType.Guild" />
                  </div>
                </td>
                <td class="col-name">{{ guild.name }}</td>
                <td class="col-action action-cell">
                  <app-button variant="stroked" [route]="['/guild-register', guild.id]">
                    {{ (guild.isRegistered ? 'guildList.admin.actionComplete' : 'guildList.admin.action') | transloco }}
                  </app-button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </app-icon-card>
    }

  }

</div>
