<app-page-header [items]="breadcrumbs()" [manualLink]="{ category: 'guild', article: 'guild-list' }" />

<div class="guild-list-container">

  @if (!loading()) {

    @if (registeredGuilds().length > 0) {
      <app-icon-card
        icon="shield"
        [title]="'guildList.registered.title' | transloco"
        [subtitle]="'guildList.registered.subtitle' | transloco"
      >
        <table mat-table [dataSource]="registeredGuilds()" class="guild-table">

          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let guild">
              <div class="guild-icon">
                <app-discord-icon [id]="guild.id" [hash]="guild.iconHash" [type]="DiscordIconType.Guild" />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'guildList.column' | transloco }}</th>
            <td mat-cell *matCellDef="let guild">{{ guild.name }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let guild" class="action-cell">
              <a mat-stroked-button color="primary" [routerLink]="['/guilds', guild.id, 'dashboard']">
                {{ 'guildList.registered.action' | transloco }}
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
      </app-icon-card>
    }

    @if (adminGuilds().length > 0) {
      <app-icon-card
        icon="add_circle"
        [title]="'guildList.admin.title' | transloco"
        [subtitle]="'guildList.admin.subtitle' | transloco"
      >
        <table mat-table [dataSource]="adminGuilds()" class="guild-table">

          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let guild">
              <div class="guild-icon">
                <app-discord-icon [id]="guild.id" [hash]="guild.iconHash" [type]="DiscordIconType.Guild" />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'guildList.column' | transloco }}</th>
            <td mat-cell *matCellDef="let guild">{{ guild.name }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let guild" class="action-cell">
              <a mat-stroked-button [routerLink]="['/guild-register', guild.id]">
                {{ (guild.isRegistered ? 'guildList.admin.actionComplete' : 'guildList.admin.action') | transloco }}
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
      </app-icon-card>
    }

  }

</div>
