<div class="character-page">
  <app-page-header [items]="breadcrumbs()" [manualLink]="{ category: 'getting-started', article: 'character-detail' }" />

  @if (character(); as char) {
    <mat-card appearance="outlined" class="page-card">
      <div class="char-header">
        @if (char.avatarUrl) {
          <img class="char-avatar" [src]="char.avatarUrl" [alt]="char.name" />
        } @else {
          <app-wow-class-icon class="char-avatar" [classId]="char.classId" [className]="char.className" [size]="64" />
        }
        <div class="char-info">
          <span class="char-name-row">
            <span [style.color]="char.classColor">{{ char.name }}</span>
            <app-wow-faction-icon [faction]="char.faction" [size]="16" />
          </span>
          @if (char.guildName) {
            <span class="char-guild">&lt;{{ char.guildName }}&gt;</span>
          }
          <app-character-raid-specs [specs]="char.raidSpecs" />
        </div>

        <div class="char-actions">
          @if (isOwner()) {
            <button mat-stroked-button (click)="resyncCharacter()">
              <app-bnet-icon [size]="18" />
              {{ 'characters.card.resync' | transloco }}
            </button>
          }
          @if (canEditRaidSpecs()) {
            <button mat-stroked-button (click)="editRaidSpecs()">
              <img class="action-icon" src="https://wow.zamimg.com/images/wow/icons/large/ability_marksmanship.jpg" alt="" />
              {{ 'characters.card.editRaidSpecs' | transloco }}
            </button>
          }
          @if (isOwner()) {
            <button mat-stroked-button class="char-actions__danger" (click)="deactivateCharacter()">
              <mat-icon>person_remove</mat-icon>
              {{ 'characters.card.deactivate' | transloco }}
            </button>
          }
        </div>
      </div>

      <mat-card-content>
        <div class="detail-layout">
          <app-character-gear [characterId]="char.id" />
          <app-character-bis-list [characterId]="char.id" />
          @if (isOwner()) {
            <app-character-guilds [character]="char" />
          }
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
