<button
  class="bnet-btn"
  [class.bnet-btn--large]="variant() === 'large'"
  [matMenuTriggerFor]="regionMenu"
>
  <app-bnet-icon class="bnet-btn__logo" [size]="16" />
  <ng-content />
  <mat-icon class="bnet-btn__chevron">expand_more</mat-icon>
</button>

<mat-menu #regionMenu="matMenu">
  @for (r of regions; track r) {
    <button mat-menu-item (click)="regionSelected.emit(r)">
      <span class="fi fi-{{ regionFlags[r] }} region-flag"></span>
      {{ r | uppercase }}
    </button>
  }
</mat-menu>
