.page-container {
  position: relative;
  height: calc(100vh - var(--navbar-height));
}

.page-content {
  height: 100%;
  overflow: auto;

  &.with-sidenav {
    margin-left: var(--sidebar-rail-width);
  }
}
