<div class="guild-layout">
  <nav class="sidebar">
    <ul>
      <li><a [routerLink]="['dashboard']" routerLinkActive="active">Dashboard</a></li>
      <li><a [routerLink]="['calendar']" routerLinkActive="active">Calendrier</a></li>
      <li><a [routerLink]="['roster']" routerLinkActive="active">Roster</a></li>
      <li><a [routerLink]="['loot']" routerLinkActive="active">Loot</a></li>
      <li class="separator"></li>
      <li><a [routerLink]="['settings']" routerLinkActive="active">Config</a></li>
    </ul>
  </nav>
  <main class="guild-content">
    <router-outlet />
  </main>
</div>
