<header class="page-header">
  <nav class="breadcrumb" aria-label="breadcrumb">
    @for (item of items(); track $index; let last = $last) {
      <span class="breadcrumb-item" [class.breadcrumb-item--current]="last">
        @if (item.discordIcon) {
          <app-discord-icon
            class="breadcrumb-avatar"
            [id]="item.discordIcon.id"
            [hash]="item.discordIcon.hash"
            [type]="item.discordIcon.type"
            [size]="28"
          />
        }
        @if (!last && item.link) {
          <a class="breadcrumb-label breadcrumb-label--link" [routerLink]="item.link">{{ item.i18nKey ? (item.i18nKey | transloco) : item.label }}</a>
        } @else {
          <span class="breadcrumb-label">{{ item.i18nKey ? (item.i18nKey | transloco) : item.label }}</span>
        }
      </span>
      @if (!last) {
        <mat-icon class="breadcrumb-sep">chevron_right</mat-icon>
      }
    }
  </nav>
  <ng-content />
</header>
