<mat-card [appearance]="appearance()">
  <mat-card-header>
    <div mat-card-avatar class="icon-wrapper">
      @if (iconSrc(); as src) {
        <img [ngSrc]="src" alt="" class="card-icon-img" width="40" height="40" />
      } @else {
        <mat-icon class="card-icon">{{ icon() }}</mat-icon>
      }
    </div>
    <mat-card-title>{{ title() }}</mat-card-title>
    @if (subtitle()) {
      <mat-card-subtitle>{{ subtitle() }}</mat-card-subtitle>
    }
  </mat-card-header>

  <mat-card-content>
    <ng-content />
  </mat-card-content>
</mat-card>
