@for (notification of notifications(); track notification.type + notification.guildId) {
  <div class="notification-row">
    <mat-icon class="notification-icon">info</mat-icon>
    <div class="notification-body">
      <span class="notification-message">
        {{ messageKey(notification) | transloco: { guildName: notification.guildName } }}
      </span>
      <div class="notification-actions">
        <a mat-button color="primary" [routerLink]="link(notification)">
          {{ 'notifications.viewLink' | transloco }}
        </a>
        <button mat-button class="dismiss-button" (click)="dismiss(notification)">
          {{ 'notifications.dismiss' | transloco }}
        </button>
      </div>
    </div>
  </div>
}
