<article class="card" [routerLink]="charRoute()">
  <div class="card-avatar">
    @if (character().avatarUrl) {
      <img
        class="avatar-img"
        [src]="character().avatarUrl"
        [alt]="character().name"
        loading="lazy"
      />
    } @else {
      <app-wow-class-icon
        [classId]="character().classId"
        [className]="character().className"
        [size]="44"
      />
    }
  </div>

  <div class="card-body">
    <div class="char-name-row">
      <span class="char-name" [style.color]="character().classColor">{{ character().name }}</span>
      <app-wow-faction-icon [faction]="character().faction" [size]="16" />
    </div>

    <span class="char-meta">
      @if (character().guildName) {
        &lt;{{ character().guildName }}&gt;
      } @else {
        {{ character().className }}
      }
    </span>

    <app-character-raid-specs [specs]="character().raidSpecs" />
  </div>

  <div class="card-right">
    <button
      mat-icon-button
      [matMenuTriggerFor]="cardMenu"
      (click)="$event.stopPropagation()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <span class="char-level">{{ character().level }}</span>
  </div>
</article>

<mat-menu #cardMenu="matMenu">
  <button mat-menu-item class="resync-menu-item" (click)="resync.emit()">
    <app-bnet-icon [size]="18" />
    <span>{{ 'characters.card.resync' | transloco }}</span>
  </button>
  <button mat-menu-item (click)="editRaidSpecs.emit()">
    <img class="menu-icon" ngSrc="https://wow.zamimg.com/images/wow/icons/large/ability_marksmanship.jpg" alt="" width="20" height="20" />
    <span>{{ 'characters.card.editRaidSpecs' | transloco }}</span>
  </button>
  <button mat-menu-item class="menu-item--danger" (click)="deactivate.emit()">
    <mat-icon>person_remove</mat-icon>
    <span>{{ 'characters.card.deactivate' | transloco }}</span>
  </button>
</mat-menu>
