<app-page-header [items]="breadcrumbs()" [manualLink]="{ category: 'getting-started', article: 'create-character' }">
  <div class="actions">
    @if (!isBnetLoading()) {
      @if (isBnetLinked()) {
        <button mat-flat-button (click)="openImport.emit()">
          <mat-icon>download</mat-icon>
          {{ 'characters.list.importButton' | transloco }}
        </button>
        <div class="bnet-chip">
          <app-bnet-icon class="logo" [size]="15" />
          <span>{{ bnetAccount()!.battleTag }}</span>
          <span class="fi fi-{{ regionFlags[bnetAccount()!.region] }} flag"></span>
        </div>
      } @else {
        <app-bnet-link-button (regionSelected)="linkBnet.emit($event)">
          {{ 'characters.bnet.linkButton' | transloco }}
        </app-bnet-link-button>
      }
    }
  </div>
</app-page-header>
