<header class="toolbar">
  @if (isAuthenticated()) {
    <app-icon-button
      icon="menu"
      [extraClass]="'sidenav-toggle'"
      (click)="sidenavService.toggle()"
      [ariaLabel]="'header.toggleNav' | transloco"
    />
  }

  <div routerLink="/" class="logo-wrapper">
    <img [ngSrc]="envBranding.logoPath" alt="RaidOps Logo" class="logo" width="30" height="30" priority />
    <span [style.color]="envBranding.accentColor">RaidOps</span>
    @if (envBranding.badgeLabel) {
      <span class="env-badge" [style.background-color]="envBranding.accentColor">
        {{ envBranding.badgeLabel }}
      </span>
    }
  </div>

  <span class="spacer"></span>

  <app-nav-icon-link route="/manual" icon="help" [label]="'header.help' | transloco" />

  <app-nav-icon-link
    route="/changelog"
    icon="campaign"
    [label]="'changelog.pageTitle' | transloco"
    [badgeCount]="unseenChangelogCount()"
  />

  <app-nav-icon-link route="/roadmap" icon="signpost" [label]="'roadmap.pageTitle' | transloco" />

  @if (isAuthenticated()) {
    <app-notification-bell />
  }

  <app-lang-selector />

  <div class="user-trigger" [cdkMenuTriggerFor]="userMenu">
    @if (user()?.name) {
      <span class="user-name">{{ user()?.name }}</span>
    }
    @if (user()?.discordId) {
      <app-discord-icon
        [type]="iconType"
        [id]="$safeNavigationMigration(user()?.discordId)!"
        [hash]="$safeNavigationMigration(user()?.avatarHash)"
        [size]="28"
      />
    } @else {
      <span class="material-icons user-avatar-icon">account_circle</span>
    }
  </div>

  <ng-template #userMenu>
    <div class="menu-panel" cdkMenu>
      @if (isAuthenticated()) {
        <button type="button" class="menu-item" cdkMenuItem (click)="onLogoutClick()">
          <span class="material-icons">logout</span>
          {{ 'header.logout' | transloco }}
        </button>
      } @else {
        <button type="button" class="menu-item" cdkMenuItem (click)="onLoginClick()">
          <span class="material-icons">login</span>
          {{ 'header.login' | transloco }}
        </button>
      }
    </div>
  </ng-template>
</header>
