.logo-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  .logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  .env-badge {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-surface);
    font-size: 0.75rem;
    font-weight: 600;
    padding: 2px 6px;
    margin-left: 1rem;
    text-transform: uppercase;
    border-radius: 4px;
  }
}

.spacer {
  flex: 1 1 auto;
}
