<mat-toolbar>
  <div routerLink="/" class="logo-wrapper">
    <img [src]="envBranding.logoPath" alt="RaidOps Logo" class="logo" />
    <span [style.color]="envBranding.accentColor">RaidOps</span>
    @if (envBranding.badgeLabel) {
      <span class="env-badge" [style.background-color]="envBranding.accentColor">
        {{ envBranding.badgeLabel }}
      </span>
    }
  </div>

  <span class="spacer"></span>

  <a
    mat-icon-button
    routerLink="/manual"
    routerLinkActive="header-icon-active"
    (click)="onHelpClick($event)"
    [attr.aria-label]="'header.help' | transloco"
    [matTooltip]="'header.help' | transloco"
  >
    <mat-icon>help</mat-icon>
  </a>

  <a
    mat-icon-button
    routerLink="/changelog"
    routerLinkActive="header-icon-active"
    (click)="onChangelogClick($event)"
    [attr.aria-label]="'changelog.pageTitle' | transloco"
    [matTooltip]="'changelog.pageTitle' | transloco"
  >
    <mat-icon [matBadge]="unseenChangelogCount() || null" matBadgeColor="warn"> campaign </mat-icon>
  </a>

  <a
    mat-icon-button
    routerLink="/roadmap"
    routerLinkActive="header-icon-active"
    (click)="onRoadmapClick($event)"
    [attr.aria-label]="'roadmap.pageTitle' | transloco"
    [matTooltip]="'roadmap.pageTitle' | transloco"
  >
    <mat-icon>signpost</mat-icon>
  </a>

  @if (isAuthenticated()) {
    <app-notification-bell />
  }

  <app-lang-selector />

  <div class="user-trigger" [matMenuTriggerFor]="userMenu">
    @if (user()?.name) {
      <span class="user-name">{{ user()?.name }}</span>
    }
    @if (user()?.discordId) {
      <app-discord-icon
        [type]="iconType"
        [id]="$safeNavigationMigration(user()?.discordId)!"
        [hash]="$safeNavigationMigration(user()?.avatarHash)"
      />
    } @else {
      <mat-icon class="user-avatar-icon">account_circle</mat-icon>
    }
  </div>

  <mat-menu #userMenu="matMenu">
    @if (isAuthenticated()) {
      <button mat-menu-item (click)="onLogoutClick()">
        <mat-icon>logout</mat-icon>
        {{ 'header.logout' | transloco }}
      </button>
    } @else {
      <button mat-menu-item (click)="onLoginClick()">
        <mat-icon>login</mat-icon>
        {{ 'header.login' | transloco }}
      </button>
    }
  </mat-menu>
</mat-toolbar>
